<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Add Subscription</h5>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <form class="form addSub-form">
      <div class="form-group">
        <label for="addSubName">Name:</label>
        <input class="form-control" type="text" id="addSubName" />
      </div>
      <div class="form-group">
        <label for="addSubCategory">Category:</label>
        <input class="form-control" type="text" id="addSubCategory" />
      </div>
      <div class="form-group">
        <label for="addSubNextPay">Next Payment:</label>
        <input class="form-control" type="text" id="addSubNextPay" />
      </div>
      <div class="form-group">
        <label for="addSubCycle">Cycle:</label>
        <input class="form-control" type="text" id="addSubCycle" />
      </div>
      <div class="form-group">
        <label for="addSubAmount">Amount (USD):</label>
        <input class="form-control" type="text" id="addSubAmount" />
      </div>
      <div class="form-group">
        <label for="addSubRating">Rating:</label>
        <input class="form-control" type="text" id="addSubRating" />
      </div>

      <div class="form-group" id="buttonForm">
        <button class="btn" type="submit" id="saveAdded">Save</button>
        <button class="btn" type="button" id="deleteAdded">Delete</button>
      </div>
    </form>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="./js/addsub.js"></script>