<div class="card addCard">
  <div class="card-body">
    <div class="row" id="addRow">
      <div class="col-2">
        <a href="/dashboard"><i class="fa fa-arrow-left backbutton"></i></a>
      </div>
      <div class="col-9">
        <h5 class="card-title text-center">Add Subscription</h5>
      </div>
    </div>
  </div>
</div>

<div class="card addCard">
  <div class="card-body">
    <form class="form addSub-form">
      <div class="form-group">
        <label for="addSubName">Name:</label>
        <input class="form-control" type="text" id="addSubName" required />
      </div>
      <div class="form-group">
        <label for="addSubCategory">Category:</label>
        <select class="form-control" type="text" id="addSubCategory" required>
          <option></option>
          <option>Books</option>
          <option>Education</option>
          <option>Food/Grocery</option>
          <option>Health/Fitness</option>
          <option>Music/Audio</option>
          <option>News</option>
          <option>Pets</option>
          <option>Shopping</option>
          <option>Video</option>
          <option>Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="addSubNextPay">Next Payment:</label>
        <input class="form-control" type="text" placeholder="MM/DD/YYYY" id="addSubNextPay" required/>
      </div>
      <div class="form-group">
        <label for="addSubCycle">Cycle:</label>
        <select class="form-control" type="text" id="addSubCycle" required>
          <option></option>
          <option>Weekly</option>
          <option>Biweekly</option>
          <option>4-weekly</option>
          <option>Monthly</option>
          <option>Bimonthly</option>
          <option>Quarterly</option>
          <option>Half-yearly</option>
          <option>Yearly</option>
        </select>
      </div>
      <div class="form-group">
        <label for="addSubAmount">Amount (USD):</label>
        <input class="form-control" type="text" placeholder="0.00" id="addSubAmount" required/>
      </div>
      <div class="form-group">
        <label for="addSubRating">Rating:</label>
        <select class="form-control" type="text" id="addSubRating" required>
          <option></option>
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </div>

      <div class="form-group" id="buttonForm">
        <button class="btn" type="submit" id="saveAdded">Save</button>
        <button class="btn" type="button" id="deleteAdded">Delete</button>
      </div>
    </form>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="./js/addsub.js"></script>