<div class="card">
    <div class="card-body" id="dashCard">
        <div class="container-fluid">
            <div class="row" id="dashRow">
                <div class="col-2">
                    <a href="/dashboard"><i class="fa fa-arrow-left backbutton"></i></a>
                </div>
                <div class="col-6">
                    <h5 class="card-title text-center">Subscription Stats</h5>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <button type="button" id="filterBtn"><i class="fa fa-sort"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" id="chartCard">
    <div class="card-body" id="chartCardBody">
    </div>
</div>