<div class="card">
    <div class="card-body" id="dashCard">
        <div class="container-fluid">
            <div class="row" id="dashRow">
                <div class="col-2 p-0">
                    <a href="/dashboard"><i class="fa fa-arrow-left backbutton"></i></a>
                </div>
                <div class="col-8 p-0">
                    <h5 class="card-title text-center m-0">Spending by Category</h5>
                </div>
                <div class="col-2 d-flex p-0 justify-content-end">
                    <button type="button" id="filterBtn"><i class="fa fa-sort"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" id="chartCard">
    <div class="card-body" id="chartCardBody">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart.js"></script>