<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Your Subscriptions</h5>
    </div>
</div>

<div class="card" id="subCard">
    <div class="card-body">
        <button type="button" id="addSubBtn">+</button>
    </div>
</div>