<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-10">
                <h5 class="card-title text-center">Your Subscriptions</h5>
            </div>
            <div class="col-1">
                <button type="button" id="filterBtn"><i class=" fa fa-sort"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="card" id="subCard">
    <div class="card-body">
        <a href="/addsub"><button type="button" id="addSubBtn">+</button></a>
    </div>
</div>