<div class="card mb-5" id="logoCard">
  <div class="card-body">
    <h1 class="card-title"><span id="logo">S</span>ubster</h1>
    <p class="card-text">Subdue your subscriptions</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-7">
          <h5 class="card-title"><u>Sign Up</u></h5>
        </div>
        <div class="col-5">
          <h5 class="card-title"><a href="/login">Log In</a></h5>
        </div>
      </div>
    </div>
    <form class="form signup-form">
      <div class="form-group">
        <label for="newName">Name:</label>
        <input class="form-control" type="text" id="newName" />
      </div>
      <div class="form-group">
        <label for="newEmail">Email:</label>
        <input class="form-control" type="text" id="newEmail" />
      </div>
      <div class="form-group">
        <label for="newPassword">Password:</label>
        <input class="form-control" type="password" id="newPassword" />
      </div>
      <div class="form-group">
        <button class="btn" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="./js/signup.js"></script>
