* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #b1b1b1;
}

.card {
    margin: 3vw;
    background-color: #9DBBE3;
    color: black;
    font-family: 'Itim', cursive;
}

#logoCard {
    text-align: center;
}

.row {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    background-color: #FFE0BE;
    color: black;
}

#subCard {
    height: 180vw;
    position: relative;
}

#filterBtn {
    background-color: #9DBBE3;
    border: 0;
    font-size: 200%;
}

#addSubBtn {
    border-radius: 100%;
    font-size: 200%;
    height: 20vw;
    width: 20vw;
    background-color: #C5EABD;
    border: 2px solid black;
    position: absolute;
    bottom: 5vw;
    right: 5vw;
}

.addCard, .editCard {
    background-color: #D2CFE9;
}

#buttonForm {
    position: relative;
}

#buttonForm button {
    width: 40%;
}

#deleteAdded, #deleteEdited {
    position: absolute;
    right: 0;
}

#iconDiv {
    font-size: 300%;
    border: 2px solid black;
    border-radius: 25%;
    height: 15vw;
    width: 15vw;
    text-align: center;
}

#subCardBody {
    padding-left: 0;
}

#subCard .row {
    flex-wrap: nowrap;
}

#bigRow {
    justify-content: flex-start;
}

#subs {
    width: 100%;
    font-size: 86%;
    word-wrap: normal;
}

#subs .row {
    margin-right: -15px;
    margin-left: -15px;
}

#subInfo .row {
    justify-content: flex-end;
}

/*Colors:
#FFE0BE: orange
#FFF1CC: yellow
#C5EABD: green
#D2CFE9: indigo
#F5D8F2: purple
*/