* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    transform: translateZ(0);
}

body {
    background-color: #4d4d52;
    max-width: 800px;
    margin: auto;
}

.card-title {
    font-family: 'Itim', cursive;
}

.card {
    margin: 3vw;
    background-color: #b3e1ee;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 0px;
}

#logoCard {
    text-align: center;
}

#logo, #dashLogo {
    font-family: 'Chicle', cursive;
    border: 2px solid black;
    border-radius: 100%;
    text-align: center;
    background-color: #E3C59D;
    padding-left: 4vw;
    padding-right: 4vw;
}

#subster-logo {
    width: 100%;
    height: auto;
}

.substers {
    width: 90%;
}

.backbutton {
    transform: scale(2);
}

.row {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    background-color: #fcbe29;
    color: black;
}

#dashCard {
    display: flex;
    justify-content: center;
}

#dashRow {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#dashLogo {
    font-size: 200%;
}

#chartBtn {
    background-color: #b3e1ee;
    border: 0;
    font-size: 250%;
}

#filterBtn {
    background-color: #b3e1ee;
    border: 0;
    font-size: 200%;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .show {display: block;}

#logoutBtn {
    background-color: #b3e1ee;
    border: 0;
    font-size: 200%;
}

#subCard {
    height: 83vh;
    position: relative;
    overflow: scroll;
}

#chartCardBody {
    padding-left: 0;
}

#subs {
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    font-size: 86%;
    word-wrap: normal;
    margin: 10px auto;
}

#subCard .row {
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
}

#bigRow {
    align-content: center;
}

#iconDiv {
    background-color: #C5EABD;
    color: #4d4d52;
    font-size: 300%;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Chicle', cursive;
}

#subInfo .row {
    justify-content: flex-end;
}

#addSubBtn {
    height: auto;
    width: 20%;
    max-width: 100px;
    position: fixed;
    bottom: 5%;
    right: 7%;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.addCard, .editCard {
    background-color: #b3e1ee;
}

#addRow, #editRow {
    align-items: center;
}

#buttonForm {
    position: relative;
}

#buttonForm button {
    width: 40%;
}

#deleteAdded, #deleteEdited {
    position: absolute;
    right: 0;
}

#login-btn, #signup-btn, #saveEdited, #deleteEdited, #saveAdded, #deleteAdded {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}